update_subscription_workflow
{
  "name": "Update Subscription",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subscription-update",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "h1b2c3d4-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": "WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body ?? $json ?? {};\n\nconst provider = (data.provider || '').trim();\nif (!provider) {\n  throw new Error('Missing required field: provider');\n}\n\nconst activeRaw = data.active;\nconst active = activeRaw === true || activeRaw === 'true' || activeRaw === 'yes' || activeRaw === 1;\n\nreturn [{ json: { Provider: provider, Active: active } }];"
      },
      "id": "h1b2c3d4-2222-2222-2222-222222222222",
      "name": "Build Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "AIRTABLE_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Active": false
          },
          "matchingColumns": [
            "Provider"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "h1b2c3d4-3333-3333-3333-333333333333",
      "name": "Airtable - Update Subscription",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        304
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = items[0]?.json ?? {};\nconst fields = out.fields ?? out;\nreturn [{\n  json: {\n    ok: true,\n    provider: fields.Provider ?? null,\n    active:   fields.Active === true,\n    record_id: out.id ?? null\n  }\n}];"
      },
      "id": "h1b2c3d4-4444-4444-4444-444444444444",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Record": {
      "main": [
        [
          {
            "node": "Airtable - Update Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Update Subscription": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed"
  },
  "versionId": "VERSION_ID",
  "meta": {
    "instanceId": "INSTANCE_ID"
  },
  "id": "WORKFLOW_ID",
  "tags": []
}
