workflows/1Y4jWohKOlI1iCk_UGk3I.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-26T20:35:44.000Z",
    "createdAt": "2026-01-26T20:34:41.482Z",
    "versionId": "858b55c4-ba4c-4946-892e-e8bd408c9e34",
    "workflowId": "1Y4jWohKOlI1iCk_UGk3I",
    "nodes": [
      {
        "parameters": {
          "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "unique_id",
                "value": "56992b0e05ddae833befd7dfe48d8725"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          208,
          0
        ],
        "id": "b78c8a7a-bf14-4dba-9535-9be5184eec57",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "PUNhRcYF81dX8CMO",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "70482747-bad0-4e85-85be-708b1e1b3c8e",
                "leftValue": "={{ $json.orderStatus }}",
                "rightValue": "processing",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "c4e4cce7-0df4-4f11-8c5c-d99021402ecd",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appPWtHeUAqSSikth",
            "mode": "list",
            "cachedResultName": "Untitled Base",
            "cachedResultUrl": "https://airtable.com/appPWtHeUAqSSikth"
          },
          "table": {
            "__rl": true,
            "value": "tblVkssui0ZlrSk15",
            "mode": "list",
            "cachedResultName": "processingOrders",
            "cachedResultUrl": "https://airtable.com/appPWtHeUAqSSikth/tblVkssui0ZlrSk15"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "orderID",
                "displayName": "orderID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "employeeName",
                "displayName": "employeeName",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          832,
          -192
        ],
        "id": "5848e75d-0629-426c-ae89-9c3e262f3048",
        "name": "Airtable",
        "credentials": {
          "airtableTokenApi": {
            "id": "4VZZ5XnCt1HDqpzJ",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4c8f4d8d-c840-4f77-a840-1e5c68525f8e",
                "name": "orderID",
                "value": "={{ $json.orderID }}",
                "type": "number"
              },
              {
                "id": "ca94eb30-82c6-4c6b-9c2b-7aa839f90d81",
                "name": "employeeName",
                "value": "={{ $json.employeeName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          -192
        ],
        "id": "2f0770a2-322b-4a0c-b9ac-7526b0564b64",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          96
        ],
        "id": "b3e686bb-94fb-492c-9390-6fd2533895aa",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "authentication": "webhook",
          "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          832,
          96
        ],
        "id": "f69b660e-8fbf-4796-830e-c757705b45e8",
        "name": "Discord",
        "webhookId": "86bcc3c7-9f8f-4007-9512-f4597656904a",
        "credentials": {
          "discordWebhookApi": {
            "id": "CuyW9VgPh6n14K05",
            "name": "Discord Webhook account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "0e9c920c-994b-4974-8f5b-f5bafea03ca0",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Discord",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jack Hastings",
    "name": "L1 Course",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "858b55c4-ba4c-4946-892e-e8bd408c9e34",
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-26T19:53:44.115Z",
  "id": "1Y4jWohKOlI1iCk_UGk3I",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Nathan's workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "56992b0e05ddae833befd7dfe48d8725"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "b78c8a7a-bf14-4dba-9535-9be5184eec57",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PUNhRcYF81dX8CMO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70482747-bad0-4e85-85be-708b1e1b3c8e",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "47eebbe9-91b0-4bb6-b542-f3a40a4ec510",
              "leftValue": "={{ $json.employeeName }}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "c4e4cce7-0df4-4f11-8c5c-d99021402ecd",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appPWtHeUAqSSikth",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appPWtHeUAqSSikth"
        },
        "table": {
          "__rl": true,
          "value": "tblVkssui0ZlrSk15",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "https://airtable.com/appPWtHeUAqSSikth/tblVkssui0ZlrSk15"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1040,
        -192
      ],
      "id": "5848e75d-0629-426c-ae89-9c3e262f3048",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "4VZZ5XnCt1HDqpzJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c8f4d8d-c840-4f77-a840-1e5c68525f8e",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "ca94eb30-82c6-4c6b-9c2b-7aa839f90d81",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -192
      ],
      "id": "2f0770a2-322b-4a0c-b9ac-7526b0564b64",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "b3e686bb-94fb-492c-9390-6fd2533895aa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        96
      ],
      "id": "f69b660e-8fbf-4796-830e-c757705b45e8",
      "name": "Discord",
      "webhookId": "86bcc3c7-9f8f-4007-9512-f4597656904a",
      "credentials": {
        "discordWebhookApi": {
          "id": "CuyW9VgPh6n14K05",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0e9c920c-994b-4974-8f5b-f5bafea03ca0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -192
      ],
      "id": "fc25ac35-f2b8-4422-ab24-7b5d94f91216",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-26T19:53:44.125Z",
      "createdAt": "2026-01-26T19:53:44.125Z",
      "role": "workflow:owner",
      "workflowId": "1Y4jWohKOlI1iCk_UGk3I",
      "projectId": "9pSenI6KwevHVurF"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-26T21:02:11.795Z",
  "versionId": "c07e72ac-e74a-4f81-88a2-4d0035cc9085"
}